@font-face {
  font-family: OzInk;
  src: url("OzInk.ttf");
}
@font-face {
  font-family: HanyiSentyCrayon;
  src: url("HanyiSentyCrayon.ttf");
}

@font-face {
  font-family: SourceCodeVariable-Italic;
  src: url("SourceCodeVariable-Italic.ttf");
}

@font-face {
  font-family: SourceCodeVariable-Roman;
  src: url("SourceCodeVariable-Roman.ttf");
}
