.hljs{
  color: white !important;
  font-size: .9em !important;
  line-height: 1.4;
  font-family: SourceCodeVariable-Roman;
}

.hljs-keyword{
  color: #cc99cd;
}

.hljs-string, .hljs-regexp, .hljs-addition, .hljs-attribute, .hljs-meta-string{
  color: #7ec699;
}
